CSS
body {
    
    background-color: #f084ee; /* Lilás */
    font-family: sans-serif;
}

header {
    background-color: #b018b0; /* Roxo */
    color: rgb(2, 1, 2);
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 2em;
}

.baloons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60
}

.baloon {
    background-color: hwb(291 43% 3%);
    border-radius: 60px;
    padding: 40px;
    margin: 40px;
    text-align: center;
    margin-bottom: 60px;
    flex: 1 0 30%;
}