CSS


.background {
    font-family:comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    background-color: hwb(302 59% 2%) ; /* Roxo claro */
    color: #333; /* Preto */
    
  }

header {
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    margin-bottom: 35px;
}
.faixa-roxo {
    background-color: hwb(302 59% 2%); /* Roxo mais claro */
    padding: 1px;
    text-align: center;
    padding-top: 7px;
    text-size: 20px
  }

.subtitle {
    font-size: 9em;

}

.baloons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60
}

.baloon {
    background-color: #e789f8;
    border-radius: 60px;
    padding: 40px;
    margin: 40px;
    text-align: center;
    margin-bottom: 60px;
    flex: 1 0 30%;
}

.fundo{
    background-color: hwb(299 14% 33%);
}
