CSS


.background {
    font-family: Arial, sans-serif;
    background-color: purple; /* Roxo claro */
    color: #333; /* Preto */
  }

header {
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 50px;
}
.faixa-roxo {
    background-color: #ea7be6; /* Roxo mais claro */
    padding: 12px;
    text-align: center;
    padding-top: 10px;
  }

.subtitle {
    font-size: 2em;
}

.baloons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60
}

.baloon {
    background-color: hwb(291 43% 3%);
    border-radius: 60px;
    padding: 40px;
    margin: 40px;
    text-align: center;
    margin-bottom: 60px;
    flex: 1 0 30%;
}
