
body {
    background-color:#F8F9FA;
    color: #4B0082;
}

header {
    background-color: #9400D3;
    color: #000000;
    padding: 15px;
    text-align: center;
}

.subtitulo {
    font-size: 2em;
    margin-bottom: 3px;
}

p {
    margin-bottom: 20px;
}

.caixas {
    padding-top: 5vw;
    display: flex;
    flex-wrap: Wrap;   
    justify-content: space-around;
    margin-bottom: 20px;
}

.caixa {
    background-color: #E6E6FA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #4B0082 ;
    width: calc(25% - 20px);
    margin-bottom: 20px;
}
h1 {

}

h2 {
    margin-bottom: 15px;
}

.acesso {
    margin-bottom: 10px;
}

.acesso p {
    display: inline-block;
    margin-right: 10px;
}

a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
    padding: 2px 5px;
}

a:hover {
    color: #9C27B0; 
}

@media (max-width: 768px) {
    .caixas {
        flex-direction: column;
        width: 100%;
    }

    .caixa {
        width: 100%;
    }
}
